@import "reset.css";
header {
	width:				100%;
	box-shadow:			0 5px 7px #888888;
}
#Login {
	text-align:			right;
	width:				100%;
}
#Logo {
	display:			inline-block;
	vertical-align:		middle;
	height:				128px;
}
#LogoText {
	display:			inline-block;
	vertical-align:		middle;
	font-family:		impact, sans-serif;
	font-size:			72pt;
}
.Nav {
	display:			inline-block;
}
.NavItem {

}
.NavLink {
	padding:			10px;
	text-decoration:	none;
	color:				#000;
}
.NavLink:visited {
	color:				#000;
}
@media only screen and (max-width: 700px) {
	#LogoText {
		font-size:		45pt;
	}
}