em{
    text-decoration:    underline;
}
h1,h2, h3,a,p {
    font-family: sans-serif;
}
.indexContent{
    overflow-x:         hidden;
    padding:            0;
    margin:             0;
    display:            inline-block;
    border:             solid 1px #000;
    width:              49.5%;
}
.indexContent h2 {
    margin:             0;
    padding:            0.5em;
    color:              #fff;
    background-color:   #000;
}
.contentPopular {
    float:              left;
}
.contentNew {
    float:              right;
}
.contentEvent {
}
.contentEvent img{
    padding:            0 1em 1em 0;
}
.contentEvent p{
    padding:            0.5em 0;
}
#purchaseTicket {
    background:         #404040;
    background-image:   -webkit-linear-gradient(top, #404040, #000000);
    background-image:   -moz-linear-gradient(top, #404040, #000000);
    background-image:   -ms-linear-gradient(top, #404040, #000000);
    background-image:   -o-linear-gradient(top, #404040, #000000);
    background-image:   linear-gradient(to bottom, #404040, #000000);
    font-family:        Arial;
    color:              #fff;
    font-size:          24px;
    padding:            10px;
    text-decoration:    none;
}

#purchaseTicket:hover {
  background: #404040;
}
.event {
    padding:            0.5em 0.25em;
    display:            block;
    text-decoration:    none;
    color:              #000;
}
.event:hover{
    background-color:   #888
}
.event h3{
    margin:             0;
}
footer {
    padding:            1em 0;
    width:              100%;
    clear:              both;
}
@media only screen and (max-width: 800px) {
    .indexContent {
        display:        block;
        width:          auto;
    }
	.contentPopular {
		float:			none;
	}
	.contentNew {
		float:			none;
	}
}

#pay-button-1,
#pay-button-2 {
    width: 160px;
    border-radius: 15px;
    font-size: 0.9em;
    padding: 10px;
    background-color: black;
    color: yellow;
}

#purchase-form label {
    font-family: sans-serif;
    font-weight: bold;
    margin: 20px 0;
    display: block;
}